@page
@model CrossOverBack.Pages.WindowRequests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Запросы на расчет</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Дата
        </th>
        <th>
            Город
        </th>
        <th>
            Имя
        </th>
        <th>
            Телефон
        </th>
        <th>
            Почта
        </th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.WindowRequest)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>